In [198]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pycountry_convert as pc
sns.set_style('white')
plt.rcParams["figure.figsize"] = (12, 8)

In [199]:
mean_years = pd.read_csv('mean-years-of-schooling-long-run.csv', sep=';')
mean_years

           Entity Code  Year  avg_years_of_schooling
0     Afghanistan  AFG  1870                    0.01
1     Afghanistan  AFG  1875                    0.01
2     Afghanistan  AFG  1880                    0.01
3     Afghanistan  AFG  1885                    0.01
4     Afghanistan  AFG  1890                    0.01
...           ...  ...   ...                     ...
7758     Zimbabwe  ZWE  2013                    8.00
7759     Zimbabwe  ZWE  2014                    8.20
7760     Zimbabwe  ZWE  2015                    8.20
7761     Zimbabwe  ZWE  2016                    8.20
7762     Zimbabwe  ZWE  2017                    8.20

[7763 rows x 4 columns]

In [200]:
ad_mort = pd.read_csv('Adult mortality.csv', skiprows=1)
ad_mort = ad_mort[(ad_mort['Year'] >= 2013) & (ad_mort['Year'] <2017)]
ad_mort

          Country  Year  Both sexes  Male  Female
0     Afghanistan  2016         245   272     216
1     Afghanistan  2015         233   254     210
2     Afghanistan  2014         234   254     213
3     Afghanistan  2013         235   254     215
17        Albania  2016          96   122      71
...           ...   ...         ...   ...     ...
3080       Zambia  2013         311   347     277
3094     Zimbabwe  2016         334   371     303
3095     Zimbabwe  2015         346   383     314
3096     Zimbabwe  2014         358   395     328
3097     Zimbabwe  2013         383   437     336

[732 rows x 5 columns]

In [201]:
mat_mort = pd.read_csv('Maternal mortality.csv')
mat_mort

,Country,Year,Maternal mortality ratio (per 100 000 live births),Number of maternal deaths
0,Afghanistan,2017,638 [ 427 - 1 010 ],7 700 [ 5 100 - 12 000 ]
1,Afghanistan,2016,673 [ 457 - 1 040 ],8 100 [ 5 500 - 12 000 ]
2,Afghanistan,2015,701 [ 501 - 1 020 ],8 400 [ 6 000 - 12 000 ]
3,Afghanistan,2014,786 [ 592 - 1 080 ],9 300 [ 7 000 - 13 000 ]
4,Afghanistan,2013,810 [ 617 - 1 080 ],9 600 [ 7 300 - 13 000 ]
...,...,...,...,...
3289,Zimbabwe,2004,686 [ 597 - 784 ],2 800 [ 2 400 - 3 100 ]
3290,Zimbabwe,2003,680 [ 590 - 779 ],2 700 [ 2 300 - 3 100 ]
3291,Zimbabwe,2002,666 [ 577 - 766 ],2 600 [ 2 200 - 3 000 ]
3292,Zimbabwe,2001,629 [ 544 - 723 ],2 400 [ 2 100 - 2 800 ]
3293,Zimbabwe,2000,579 [ 500 - 667 ],2 200 [ 1 900 - 2 500 ]

In [202]:
prob_dth = pd.read_csv('Probability of dying per 1000 live births.csv',skiprows=1)
prob_dth.rename(columns={' Both sexes':'inf_both_sexes',
                         ' Male':'inf_male',
                         ' Female':'inf_female',
                         ' Both sexes.1':'neonat_both_sexes',
                         ' Both sexes.2':'u5_both_sexes',
                         ' Male.1':'u5_male',
                         ' Female.1':'u5_female'}, inplace=True)
prob_dth = prob_dth[(prob_dth['Year'] >= 2013) & (prob_dth['Year'] <2017)]
prob_dth

,Country,Year,inf_both_sexes,inf_male,inf_female,neonat_both_sexes,u5_both_sexes,u5_male,u5_female
2,Afghanistan,2016,51.2,54.5,47.7,39.3,67.5,70.9,63.7
3,Afghanistan,2015,53.1,56.5,49.6,40.5,70.4,73.8,66.7
4,Afghanistan,2014,55.1,58.6,51.5,41.9,73.6,77.0,69.9
5,Afghanistan,2013,57.3,60.8,53.6,43.3,76.9,80.5,73.2
8,Albania,2016,8.2,8.9,7.6,6.2,9.3,9.9,8.6
...,...,...,...,...,...,...,...,...,...
1157,Zambia,2013,47.8,52.0,43.4,25.3,70.7,75.9,65.1
1160,Zimbabwe,2016,36.3,40.4,32.0,22.3,50.4,55.0,45.5
1161,Zimbabwe,2015,38.5,42.8,34.0,23.1,54.3,59.2,49.2
1162,Zimbabwe,2014,40.4,44.9,35.6,24.2,57.5,62.5,52.3
1163,Zimbabwe,2013,42.8,47.5,37.9,25.3,62.3,67.4,56.8

In [203]:
num_dth = pd.read_csv('Number of deaths (thousands).csv')
num_dth

,Unnamed: 0,Unnamed: 1,Number of under-five deaths (thousands),Number of under-five deaths (thousands).1,Number of under-five deaths (thousands).2,Number of infant deaths (thousands),Number of infant deaths (thousands).1,Number of infant deaths (thousands).2,Number of neonatal deaths (thousands)
0,Country,Year,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes
1,Afghanistan,2018,74278,40312,33966,57182,31394,25788,44725
2,Afghanistan,2017,76877,41631,35246,58846,32244,26602,45771
3,Afghanistan,2016,79770,43134,36636,60673,33222,27451,46963
4,Afghanistan,2015,82918,44733,38185,62652,34257,28395,48237
...,...,...,...,...,...,...,...,...,...
1160,Zimbabwe,2017,22519,12419,10100,16015,9010,7005,9696
1161,Zimbabwe,2016,23326,12867,10459,16693,9396,7297,10235
1162,Zimbabwe,2015,25433,14001,11432,18006,10121,7885,10815
1163,Zimbabwe,2014,27058,14866,12192,19051,10707,8344,11447
1164,Zimbabwe,2013,29200,15984,13216,20265,11363,8902,12063

In [204]:
mean_years.rename(columns={'Entity':'Country'},inplace=True)

In [205]:
mean_years = mean_years[(mean_years['Year'] >= 2013) & (mean_years['Year'] < 2017)]
mean_years

          Country Code  Year  avg_years_of_schooling
47    Afghanistan  AFG  2013                     3.5
48    Afghanistan  AFG  2014                     3.5
49    Afghanistan  AFG  2015                     3.6
50    Afghanistan  AFG  2016                     3.6
99        Albania  ALB  2013                     9.7
...           ...  ...   ...                     ...
7709       Zambia  ZMB  2016                     7.0
7758     Zimbabwe  ZWE  2013                     8.0
7759     Zimbabwe  ZWE  2014                     8.2
7760     Zimbabwe  ZWE  2015                     8.2
7761     Zimbabwe  ZWE  2016                     8.2

[756 rows x 4 columns]

In [206]:
merge_df = pd.merge(mean_years,ad_mort, on=['Country','Year'])
merge_df = pd.merge(merge_df,prob_dth, on=['Country','Year'])
merge_df

,Country,Code,Year,avg_years_of_schooling,Both sexes,Male,Female,inf_both_sexes,inf_male,inf_female,neonat_both_sexes,u5_both_sexes,u5_male,u5_female
0,Afghanistan,AFG,2013,3.5,235,254,215,57.3,60.8,53.6,43.3,76.9,80.5,73.2
1,Afghanistan,AFG,2014,3.5,234,254,213,55.1,58.6,51.5,41.9,73.6,77.0,69.9
2,Afghanistan,AFG,2015,3.6,233,254,210,53.1,56.5,49.6,40.5,70.4,73.8,66.7
3,Afghanistan,AFG,2016,3.6,245,272,216,51.2,54.5,47.7,39.3,67.5,70.9,63.7
4,Albania,ALB,2013,9.7,100,127,74,9.5,10.3,8.6,5.9,10.7,11.4,9.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,Zambia,ZMB,2016,7.0,286,324,250,43.1,47.0,39.0,24.3,62.0,66.8,56.8
644,Zimbabwe,ZWE,2013,8.0,383,437,336,42.8,47.5,37.9,25.3,62.3,67.4,56.8
645,Zimbabwe,ZWE,2014,8.2,358,395,328,40.4,44.9,35.6,24.2,57.5,62.5,52.3
646,Zimbabwe,ZWE,2015,8.2,346,383,314,38.5,42.8,34.0,23.1,54.3,59.2,49.2
647,Zimbabwe,ZWE,2016,8.2,334,371,303,36.3,40.4,32.0,22.3,50.4,55.0,45.5

In [207]:
def country_to_continent(country_name):
    country_alpha2 = pc.country_name_to_country_alpha2(country_name)
    country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
    country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
    return country_continent_name

In [208]:
merge_df['Continent'] = merge_df['Country'].apply(lambda row: country_to_continent(row))

In [209]:
final_df = merge_df.sort_values(['Country','Year'], ascending=[True,False]).reset_index()
final_df.drop(columns='index', inplace=True)
final_df

,Country,Code,Year,avg_years_of_schooling,Both sexes,Male,Female,inf_both_sexes,inf_male,inf_female,neonat_both_sexes,u5_both_sexes,u5_male,u5_female,Continent
0,Afghanistan,AFG,2016,3.6,245,272,216,51.2,54.5,47.7,39.3,67.5,70.9,63.7,Asia
1,Afghanistan,AFG,2015,3.6,233,254,210,53.1,56.5,49.6,40.5,70.4,73.8,66.7,Asia
2,Afghanistan,AFG,2014,3.5,234,254,213,55.1,58.6,51.5,41.9,73.6,77.0,69.9,Asia
3,Afghanistan,AFG,2013,3.5,235,254,215,57.3,60.8,53.6,43.3,76.9,80.5,73.2,Asia
4,Albania,ALB,2016,10.0,96,122,71,8.2,8.9,7.6,6.2,9.3,9.9,8.6,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,Zambia,ZMB,2013,6.8,311,347,277,47.8,52.0,43.4,25.3,70.7,75.9,65.1,Africa
644,Zimbabwe,ZWE,2016,8.2,334,371,303,36.3,40.4,32.0,22.3,50.4,55.0,45.5,Africa
645,Zimbabwe,ZWE,2015,8.2,346,383,314,38.5,42.8,34.0,23.1,54.3,59.2,49.2,Africa
646,Zimbabwe,ZWE,2014,8.2,358,395,328,40.4,44.9,35.6,24.2,57.5,62.5,52.3,Africa
647,Zimbabwe,ZWE,2013,8.0,383,437,336,42.8,47.5,37.9,25.3,62.3,67.4,56.8,Africa

In [210]:
final_df.rename(columns={'Year_x':'Year',
                         'Both sexes':'mort_rate_both_sexes',
                         'Male':'mort_rate_male',
                         'Female':'mort_rate_female'}, inplace=True)

In [211]:
final_df

,Country,Code,Year,avg_years_of_schooling,mort_rate_both_sexes,mort_rate_male,mort_rate_female,inf_both_sexes,inf_male,inf_female,neonat_both_sexes,u5_both_sexes,u5_male,u5_female,Continent
0,Afghanistan,AFG,2016,3.6,245,272,216,51.2,54.5,47.7,39.3,67.5,70.9,63.7,Asia
1,Afghanistan,AFG,2015,3.6,233,254,210,53.1,56.5,49.6,40.5,70.4,73.8,66.7,Asia
2,Afghanistan,AFG,2014,3.5,234,254,213,55.1,58.6,51.5,41.9,73.6,77.0,69.9,Asia
3,Afghanistan,AFG,2013,3.5,235,254,215,57.3,60.8,53.6,43.3,76.9,80.5,73.2,Asia
4,Albania,ALB,2016,10.0,96,122,71,8.2,8.9,7.6,6.2,9.3,9.9,8.6,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,Zambia,ZMB,2013,6.8,311,347,277,47.8,52.0,43.4,25.3,70.7,75.9,65.1,Africa
644,Zimbabwe,ZWE,2016,8.2,334,371,303,36.3,40.4,32.0,22.3,50.4,55.0,45.5,Africa
645,Zimbabwe,ZWE,2015,8.2,346,383,314,38.5,42.8,34.0,23.1,54.3,59.2,49.2,Africa
646,Zimbabwe,ZWE,2014,8.2,358,395,328,40.4,44.9,35.6,24.2,57.5,62.5,52.3,Africa
647,Zimbabwe,ZWE,2013,8.0,383,437,336,42.8,47.5,37.9,25.3,62.3,67.4,56.8,Africa

In [212]:
final_df = final_df[['Continent'] + [ col for col in final_df.columns if col != 'Continent' ]]
final_df

,Continent,Country,Code,Year,avg_years_of_schooling,mort_rate_both_sexes,mort_rate_male,mort_rate_female,inf_both_sexes,inf_male,inf_female,neonat_both_sexes,u5_both_sexes,u5_male,u5_female
0,Asia,Afghanistan,AFG,2016,3.6,245,272,216,51.2,54.5,47.7,39.3,67.5,70.9,63.7
1,Asia,Afghanistan,AFG,2015,3.6,233,254,210,53.1,56.5,49.6,40.5,70.4,73.8,66.7
2,Asia,Afghanistan,AFG,2014,3.5,234,254,213,55.1,58.6,51.5,41.9,73.6,77.0,69.9
3,Asia,Afghanistan,AFG,2013,3.5,235,254,215,57.3,60.8,53.6,43.3,76.9,80.5,73.2
4,Europe,Albania,ALB,2016,10.0,96,122,71,8.2,8.9,7.6,6.2,9.3,9.9,8.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,Africa,Zambia,ZMB,2013,6.8,311,347,277,47.8,52.0,43.4,25.3,70.7,75.9,65.1
644,Africa,Zimbabwe,ZWE,2016,8.2,334,371,303,36.3,40.4,32.0,22.3,50.4,55.0,45.5
645,Africa,Zimbabwe,ZWE,2015,8.2,346,383,314,38.5,42.8,34.0,23.1,54.3,59.2,49.2
646,Africa,Zimbabwe,ZWE,2014,8.2,358,395,328,40.4,44.9,35.6,24.2,57.5,62.5,52.3
647,Africa,Zimbabwe,ZWE,2013,8.0,383,437,336,42.8,47.5,37.9,25.3,62.3,67.4,56.8

In [213]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 648 entries, 0 to 647
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Continent               648 non-null    object
 1   Country                 648 non-null    object
 2   Code                    648 non-null    object
 3   Year                    648 non-null    int64
 4   avg_years_of_schooling  648 non-null    float64
 5   mort_rate_both_sexes    648 non-null    int64
 6   mort_rate_male          648 non-null    int64
 7   mort_rate_female        648 non-null    int64
 8   inf_both_sexes          648 non-null    float64
 9   inf_male                648 non-null    float64
 10  inf_female              648 non-null    float64
 11  neonat_both_sexes       648 non-null    float64
 12  u5_both_sexes           648 non-null    float64
 13  u5_male                 648 non-null    float64
 14  u5_female               648 non-null    float64
dtypes: float64(8), int64(4), object(3)
memory usage: 76.1+ KB

In [217]:
import plotly.express as px
px.scatter(final_df[final_df['Year']==2013], x='avg_years_of_schooling', y='mort_rate_both_sexes',
           size='mort_rate_both_sexes', size_max=30, color='Continent',
           template='simple_white', width=1000, height=700,hover_name='Country')

In [218]:
final_df.to_csv('Complete_mortality_y_of_schooling.csv', index=False)